---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import Blobs from '../components/Blobs.jsx';
import Skill from '../components/Skill.jsx';
import Project from '../components/Project.jsx';
import Footer from '../components/Footer.jsx';

const skills = [
	{
		'name': 'JavaScript & TypeScript',
		'desc': 'The main language for creating any web application. I have used Javascript and TypeScript for the majority of my projects. Check some out down below!',
		'logo': '/typescript.svg'
	},
	{
		'name': 'C#',
		'desc': 'I have used C# to create multiple backend REST APIs and web services. I utilized ASP.NET Core and Entity Framework Core to create REST endpoints and communicate with a database.',
		'logo': '/csharp.svg'
	},
	{
		'name': 'React & React Native',
		'desc': 'React is my main framework of choice for building web and mobile applications. I have used others, such as Angular and look forward to learning new ones like SolidJS, but I mainly choose to use React.',
		'logo': '/react.svg'
	},
	{
		'name': 'SQL',
		'desc': 'I have used many different types of SQL depending on the project. I have used SQL Server, PostgreSQL, and Mongo to create databases for different applications.',
		'logo': '/sql.png'
	}
];

const projects = [
	{
		'name': 'EasyTime',
		'desc': "An employee time punch system to track employee's work hours.",
		'tech': 'Made with React Native, Expo, Tailwind, and Firebase.',
		'img': '/typescript.svg',
		'github': 'https://github.com/townerr/EasyTime',
		'website': 'https://github.com/townerr/EasyTime'
	},
	{
		'name': 'u-Weather',
		'desc': "A simple SPA weather app to check the weather in your area.",
		'tech': 'Made with React, React-Bootstrap, and some weather APIs.',
		'img': '/typescript.svg',
		'github': 'https://github.com/townerr/u-Weather',
		'website': 'https://condescending-meitner-9a5573.netlify.app/'
	},
	{
		'name': 'Rustatar',
		'desc': "An application made in rust that generates a random pixelated avatar.",
		'tech': 'Made with Rust.',
		'img': '/typescript.svg',
		'github': 'https://github.com/townerr/Rustatar',
		'website': ''
	},
	{
		'name': 'FakeBook',
		'desc': "A facebook clone. A multi-group project. I worked on the notifications microservice.",
		'tech': 'Made with ASP.NET Web API, MongoDB, and SignalR.',
		'img': '/typescript.svg',
		'github': 'https://github.com/2011-fakebook-project3',
		'website': ''
	},
  {
		'name': 'Pokemon Auctioneer',
		'desc': "A web application to purchase/open pokemon card packs, and then sell/trade the cards.",
		'tech': 'Made with ASP.NET Web API, SQL Server, and Angular.',
		'img': '/typescript.svg',
		'github': 'https://github.com/2011-nov02-net/RHJ-Project2',
		'website': ''
	},
  {
		'name': 'Portfolio',
		'desc': "The portfolio site your viewing right now! A portfolio to show off my projects and skills.",
		'tech': 'Made with Astro, React, and Tailwind.',
		'img': '/typescript.svg',
		'github': 'https://github.com/townerr/portfolio',
		'website': 'http://towner.dev'
	},
];
---
<Layout title="Ryan Towner - Portfolio">
	<section id="splash">
		<div class="w-full bg-x-purple">
			<Navbar />
			<div class="p-12 md:pr-48 splash container flex flex-row justify-between mx-auto">
				<div class="">
					<Blobs />
				</div>
				<div class="z-10 bg-x-purple rounded-lg px-2 py-6 bg-opacity-70">
					<h1 class="text-8xl text-right text-white">Hello, I am <span class="text-gradient">Ryan</span></h1>
					<p class="pt-4 text-white font-semibold text-right">I am a full stack developer. <br />I love creating web and mobile applications using React and React Native. <br />Explore some of my projects below!</p>
				</div>
			</div>
		</div>
		<div>
			<svg viewBox="0 0 500 87">
				<path d="M0,50 C150,150 350,0 500,50 L500,00 L0,0 Z" preserveAspectRatio="xMidYMid meet" style="stroke: none; fill:#5A189A;"></path>
			</svg>
		</div>
		<a class="down-arrow" href="#skills"></a>
	</section>
	<section id="skills">
		<div class="container mx-auto">
			<h1 class="text-center text-3xl font-semibold py-8">Skills</h1>
			<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 px-12">
				{skills.map((skill) => {
					return (
						<Skill name={skill.name} desc={skill.desc} logo={skill.logo} />
					);
				})}
			</div>
		</div>
	</section>
	<section id="projects">
		<div class="container mx-auto">
			<h1 class="text-center text-3xl font-semibold py-8">Projects</h1>
			<div class="flex flex-wrap justify-center px-12 gap-12">
				{projects.map((project) => {
					return (
						<Project name={project.name} desc={project.desc} tech={project.tech} img={project.img} github={project.github} website={project.website} />
					);
				})}
			</div>
		</div>
	</section>
  <section id='#footer' class="pt-24">
    <Footer />
  </section>
</Layout>
